.Services-Provided {
  background-image: url(../media/services.jpg);
  height: 100vh;
  background-position-x: center;
  background-repeat: no-repeat;
  max-width: 1198px;
  height: 478px;
  display: grid;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: repeat(19, 1fr);
  margin: 0 auto;
  margin-top: 55px;
  color: #fff;
}

.Services-Provided p {
  margin: 0;
}

.Services-Provided h4 {
  position: relative;
  grid-column: 3/48;
  grid-row: 2/4;
  padding-top: 7px;
  margin: 0;
}

.Services-Provided h4::before {
  content: '';
  position: absolute;
  width: 133px;
  bottom: -13px;
  height: 1px;
  left: 121px;
  background-color: #c5c5c5;
}

.Services-Provided h4 span {
  font-size: 50px;
}

.Services-Provided h4 span:last-child {
  color: #fff;
  margin: 0 0 0 3px;
}

.app-development p:first-child, .game-development p:first-child, .app-design p:first-child, .game-design p:first-child {
  font-size: 18px;
}

.app-development p:last-child, .game-development p:last-child, .app-design p:last-child, .game-design p:last-child {
  font-size: 11px;
  margin: 0;
  padding: 22px 0 0 0;
  line-height: 13px;
}

.app-development {
  grid-column: 20/29;
  grid-row: 6/11;
  padding: 7px 0 0 0px;
}

.game-development {
  padding: 7px 0 0 17px;
  grid-column: 32/42;
  grid-row: 6/13;
}

.app-design {
  padding: 13px 0 0 0;
  grid-column: 20/29;
  grid-row: 13/18;
}

.game-design {
  padding: 13px 0 0 16px;
  grid-column: 32/42;
  grid-row: 13/18;
}

@media (max-width: 1024px) {
  .Services-Provided {
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding: 0 8px;
  }
  .Services-Provided h4::before {
    content: '';
    bottom: 5px;
  }
  .Services-Provided .app-development, .Services-Provided .game-development, .Services-Provided .app-design, .Services-Provided .game-design {
    text-align: center;
    padding: 0;
  }
  .Services-Provided .app-development p:first-child, .Services-Provided .game-development p:first-child, .Services-Provided .app-design p:first-child, .Services-Provided .game-design p:first-child {
    font-size: 23px;
    color: #ffc600;
  }
  .Services-Provided .app-development p:last-child, .Services-Provided .game-development p:last-child, .Services-Provided .app-design p:last-child, .Services-Provided .game-design p:last-child {
    padding: 4px 0;
    font-size: 2vh;
    line-height: 1;
  }
}

@media (max-width: 500px) {
  .Services-Provided .app-development p:last-child, .Services-Provided .game-development p:last-child, .Services-Provided .app-design p:last-child, .Services-Provided .game-design p:last-child {
    font-size: 14px;
  }
}
