.blogs {
    display: flex;
    justify-content: space-between;
    max-width: 1138px;
    margin: auto;
    padding: 10px 0 0 0;
    #myBtnContainer{
        padding: 0 0 0 24px;
    }
    h4 {
        position: relative;
        margin: 40px 0 33px 0;
        &::before{
            content: '';
            position: absolute;
            width: 85px;
            bottom: 2px;
            height: 1px;
            left: 5px;
            background-color: #c5c5c5;
                
        }

        span{
            font-size: 50px;
        } 
    }
    .all-btn{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 73px;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    img {
    max-width: 100%;
    }
    
}
.column {
    display: none; 
    padding: 11px 44px 8px;
    max-width: 188px;
    text-align: center;
    p:nth-child(2){
     text-align: left;
    color: #ffc600;
    font-size: 18px;
    }
    p:nth-child(3){
    font-family: 'MyriadPro-Bold';
    text-align: left;
    font-size: 15px;
    }
    p:nth-child(4){
    font-family: 'MyriadPro-Italic';
    text-align: left;
    font-size: 12px;
    }
}
.show {
  display: block;
}
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  text-align: left;
    &:hover {
        color: #ffc600;
        box-sizing: border-box;
    }
    &.active {
        text-shadow: 1px 1px 1px #000000;
        color: #ffc600;
    }
}



