.about {
    width: 1198px;
    margin: 0 auto;
    margin-top: 7px;
  }
  
  .about-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.title{
    display: flex;
    width: 555px;
    justify-content: center;
    margin: 53px 0 0 0;

    h3{
    font-family: 'MyriadPro-Semibold';
    position: relative;
    font-size: 80px;
    color: #000000;
    line-height: 44px;
    width: 292px;
    height: 152px;
    margin: 0;
       

     &::first-letter{
        font-size: 50px;      
    }
    &::after{
             content: '';
             position: absolute;
             width: 132px;
             bottom: 37px;
             height: 1px;
             right: 9px;
             background-color: #c5c5c5;
             display: flex;
    }
       strong{
        margin: 6px;
        font-size: 30px;
        color: #717171;
       }
    }
}
        .description{
            width: 599px;
            margin: 5px 0 0 45px;
            position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 1px;
        bottom: 26px;
        height: 133px;
        left: -22px;
        background-color: #c5c5c5;
        display: flex;
        
        }   
        p{
    font-size: 16px;
    font-family: 'MyriadPro-Italic';
    margin-top: 17px;
    line-height: 19px;

    &:last-child{
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    line-height: 17px;
    color:#595959;
  }
 }
}
        
.about-unit{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
 .about-column{
     width: 231px;
       
.column-icon{
    margin-bottom: 41px;
    border: solid 1px #ffa800;
    width: 54px;
    margin: 0 auto 41px auto;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e8e8e8;
  }

  .column-title{
      font-family: 'MyriadPro-Regular';
      font-size: 18px;
      color: #000000;
      text-align: center;
    margin-bottom: 19px;
    margin-top: 22px;
  }
}

.column-text{
    font-family: 'MyriadPro-Italic';
    text-align: center;
    font-size: 10px;
    margin-top: 19px;
}


