.about {
    max-width: 1198px;
    margin: 0 auto;
    margin-top: 23px;
    padding: 0 8px;
  }
  
  .about-header{
    display: flex;
    justify-content: space-between;
    max-width: 1198px;
  }
  .title{
    width: 339px;
    margin: 0 auto;
    align-self: flex-end;
  

    h3{
    position: relative;
    font-size: 80px;
    color: #000000;
    line-height: 44px;
    height: 152px;
    margin: 0;
       

     &::first-letter{
        font-size: 50px;      
    }
    &::after{
             content: '';
             position: absolute;
             width: 132px;
             bottom: 37px;
             height: 1px;
             right: 56px;
             background-color: #c5c5c5;
             display: flex;
    }
       strong{
        margin: 6px;
        font-size: 30px;
        color: #717171;
       }
    }
}
        .description{
          max-width: 599px;
          position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 1px;
        bottom: 26px;
        height: 133px;
        left: -22px;
        background-color: #c5c5c5;
        display: flex;
        
        }   
        p{
    font-size: 16px;
    font-family: 'MyriadPro-Italic';
    margin-top: 17px;
    line-height: 19px;

    &:last-child{
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    line-height: 17px;
    color:#595959;
  }
 }
}
        
.about-unit{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
 .about-column1,.about-column2,.about-column3{
   position: relative;
     width: 231px;
 }
  .about-column1{
    left: 71px;
  }  
.column-icon1{
  right: 7px;
}
.column-title1{
  right: 6px;
}


.about-column2{
  right: 8px;
}  
.column-icon2{
  left: 5px;
}

.about-column3{
  right: 87px;
}  
.column-icon3{
  left: 1px;
}
.column-title3{
  left: 5px;
}

.column-icon1,.column-icon2,.column-icon3{
  border: solid 2px #ffa800;
  box-sizing: border-box;
  width: 55px;
  margin: 0 auto 0 auto;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e8e8e8;
  position: relative;
  }

  .column-title1,.column-title2,.column-title3{
      font-family: 'MyriadPro-Regular';
      font-size: 18px;
      color: #000000;
      text-align: center;
      text-shadow: 0px 0px 0px #000000;
      margin-top: 22px;
      position: relative;
    
  }


.column-text{
    font-family: 'MyriadPro-Italic';
    text-align: center;
    font-size: 10px;
    margin-top: 19px;

    p:first-child{
      line-height: 1.2;
    }
    p:last-child{
      margin-top: 11px;
      line-height: 1.2;
    }
}

@media(max-width:1000px){
  .about{
    .about-header{
      display: block;
      .description{
        margin: 0 auto;
      }
    }
    .about-unit{
      flex-direction: column;
      align-items: center;
      .about-column1, .about-column2, .about-column3 {
        position: static;
        width: 100%;
      }
      .column-icon1{
        position: static;
      }
        .column-icon2, .column-icon3{
          display: none;
        }
        .column-title1,.column-title2,.column-title3{
          position: static;
          text-align: left;
        }
        .column-text{
          margin: 0;
          text-align: left;
          p{
            font-size: 3vh;
            margin: 0;
          }
        }
      }
    }
  }

