@import "../../node_modules/normalize.css/normalize";

@font-face {
	font-family: 'MyriadPro-Bold';
	font-style: normal;
	font-weight: bold;
	src: local('MyriadPro-Bold'),
		url('../fonts/MyriadPro-Bold.eot') format('eot'), 
		url('../fonts/MyriadPro-Bold.ttf') format('ttf'),
		url('../fonts/MyriadPro-Bold.woff') format('woff');
		
}
@font-face {
	font-family: 'MyriadPro-Italic';
	font-style: italic;
	font-weight: normal;
	src: local('MyriadPro-Italic'),
		url('../fonts/MyriadPro-Italic.eot') format('eot'), 
		url('../fonts/MyriadPro-Italic.ttf') format('ttf'),
		url('../fonts/MyriadPro-Italic.woff') format('woff');
		
}
@font-face {
	font-family: 'MyriadPro-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('MyriadPro-Italic'),
		url('../fonts/MyriadPro-Regular.eot') format('eot'), 
		url('../fonts/MyriadPro-Regular.ttf') format('ttf'),
		url('../fonts/MyriadPro-Regular.woff') format('woff');
		
}
@font-face {
	font-family: 'MyriadPro-Semibold';
	font-style: normal;
	font-weight: normal;
	src: local('MyriadPro-Semibold'),
		url('../fonts/MyriadPro-Semibold.eot') format('eot'), 
		url('../fonts/MyriadPro-Semibold.ttf') format('ttf'),
		url('../fonts/MyriadPro-Semibold.woff') format('woff');
		
}
span{
    color: #ffc600;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'MyriadPro-Semibold';
	font-size: 30px;
}

@import "../css/header";
@import "../css/main_about";
@import "../css/featured-projects";